/* ============== VARIABLES CSS ============== */
:root {
  --header-height: 3rem; /* Altura de Menú */
  --body-font: "Poppins", sans-serif; /* Fuente */
  --normal-font-size: 0.938rem;
  --body-color: hsl(var(--change-color), 60%, 99%);
  --title-color: hsl(var(--change-color), 8%, 15%);
  --first-color: hsl(var(--change-color), 69%, 61%);
  --text-color: hsl(var(--change-color), 8%, 45%);
  --text-color-light: hsl(var(--change-color), 8%, 65%);
  --font-semi-bold: 600;
  --font-medium: 500;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ============== Colores Base ============== */
  --change-color: 87; /* purple: 250, green: 142 o 87, orange: 32 pink: 340 */

  --big-font-size: 7.5vw;
  --h3-font-size: 5.5vw;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;

  /* ============== Margin Bottom (Márgenes) ============== */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ============== z-index ============== */
  --z-tooltip: 10;
  --z-fixed: 100; /* menú */
  --z-modal: 1000;
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
  --first-color-second: hsl(var(--change-color), 69%, 0 61%);
  --first-color-alt: hsl(var(--change-color), 57%, 53%);
  --first-color-lighter: hsl(var(--change-color), 92%, 85%);
  --input-color: hsl(var(--change-color), 70%, 96%);
  --container-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);

  /* 0.5rem = 8px, 1rem = 16px, 1.5rem = 24px, ... */
  /* --big-font-size: 2rem; */
  /* --h3-font-size: 1.125rem; */

  /* ============== Font Weight ============== */

  /* 0.25rem = 4px, 0.5rem = 8px, 0.75rem = 12px ... */
}

@media screen and (min-weight: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ============== BASE ============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ============== CLASES CSS REUSABLES ============== */
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: var(--h1-font-size);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
}

.section_title,
.section_subtitle {
  text-align: center;
}

/* ============== BASICOS ============== */
.container {
  max-width: 768px;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* @media screen and (min-width: 968px) {
  .container {
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
  }
} */

.grid {
  display: grid;
  gap: 1rem;
}

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgb(0, 0, 0, 0.15);
  background-color: var(--body-color);
  width: 100%;
}

/* ============== NAV ============== */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--z-fixed);
}

.nav_logo,
.nav_toggle,
.nav_close {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: 0.5s;
}

.nav_logo:hover,
.nav_toggle:hover,
.nav_close:hover {
  color: var(--first-color);
}

.nav_toggle {
  cursor: pointer;
  font-size: 1.1rem;
}

.nav_menu {
  position: fixed;
  bottom: -50%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--body-color);
  box-shadow: 0 -2px 4px rgb(0, 0, 0, 0.15);
  border-radius: 1rem 1rem 0 0;
  padding: 2rem 1.5rem 4rem;
  transition: 1s ease-in-out;
}

.nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  transition: 0.5s;
}

.nav_links:hover {
  color: var(--first-color);
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_close {
  position: absolute;
  bottom: 0.6rem;
  right: 2rem;
  cursor: pointer;
  font-size: 1.3rem;
}

/* ============== (Mostrar - Ocultar) MENÚ ============== */
.show-me {
  bottom: 0;
}

/* ============== HOME ============== */
/* .home_container {
  height: 100vh;
} */

.home_content {
  grid-template-columns: repeat(1, 1fr);
  row-gap: 7rem;
  padding-top: 3.5rem;
  /* align-items: center; */
}

.home_social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  /* display: grid;
  grid-template-columns: max-content;
  grid-row-end: 1px;
  gap: 1rem; */
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.5s;
}

.home_social-icon:hover {
  color: var(--first-color);
}

.home_name {
  color: var(--first-color);
}

.home_title {
  font-size: var(--big-font-size);
}

.home_subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);
}

/* ============== BUTTONS ============== */
.button {
  display: inline-block;
  background-color: var(--first-color);
  border: 2px solid transparent;
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.5s;
}

.button:hover {
  background-color: #fff;
  color: var(--first-color-alt);
  border: 2px solid var(--first-color-alt);
}

.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
}

.button_flex {
  display: inline-flex;
}

.button_link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button_link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
  border: none;
}

/* ============== ABOUT ============== */
.about_blob {
  position: relative;
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--first-color);
  margin-bottom: var(--mb-1-5);
  z-index: -1;
}

.about_blob-img {
  position: absolute;
  top: -35px;
  filter: grayscale(100%);
}

.about_description {
  /* text-align: center; */
  margin-bottom: var(--mb-2);
}

.about__button {
  display: flex;
  justify-content: center;
}

/* ============== SKILLS ============== */
/* .skills_container {
  row-gap: 0;
} */

.skills_header {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: var(--mb-1);
}

.skills_icon,
.skills_arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills_icon {
  margin-right: var(--mb-0-75);
}

.skills_arrow {
  margin-left: auto;
  z-index: -1;
}

.skills_data {
  margin-bottom: var(--mb-1);
}

.skills_name {
  font-size: var(--normal-font-size);
}

.skills_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-25);
}

.skills_bar,
.skills_percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills_bar {
  background-color: var(--first-color-lighter);
}

.skills_percentage {
  display: block;
  background-color: var(--first-color);
}

.skills_html {
  width: 50%;
}

.skills_css {
  width: 50%;
}

.skills_js {
  width: 50%;
}

.skills_react {
  width: 10%;
}

.skills_php {
  width: 2%;
}

.skills_node {
  width: 2%;
}

.skills_list {
  margin-left: 2.7rem;
  margin-bottom: var(--mb-1-5);
}

.skills_close .skills_list {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.skills_open .skills_list {
  height: max-content;
}

.skills_open .skills_arrow {
  transform: rotate(180deg);
}

/* ============== SERVICIOS ============== */
.services_container {
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

.services_content {
  /* position: relative; */
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.25);
  transition: 0.3s;
  margin: 0 auto;
  width: 70%;
  /* flex-wrap: wrap; */
}

.services_content:hover {
  box-shadow: 0 12px 18px rgb(0, 0, 0, 0.25);
}

.services_icon {
  display: block;
  color: var(--first-color);
  font-size: 1.5rem;
  margin-bottom: var(--mb-1);
}

.services_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.services_button {
  cursor: pointer;
  font-size: var(--small-font-size);
}

.services_button:hover i {
  transform: translateX(0.25rem);
}

.services_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.services_modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services_modal-services {
  row-gap: 1rem;
}

.services_modal-service {
  display: flex;
}

.services_modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.services_modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services_modal-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-5);
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

/* ============== PORTFOLIO ============== */
.portfolio_content {
  padding: 0 1.5rem;
  /* border: 1px solid red; */
}

.portfolio_img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio_title {
  /* text-align: center; */
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio_description {
  margin-bottom: var(--mb-0-75);
}

.portfolio_button {
  margin-bottom: var(--mb-1-5);
}

/* ============== PROJECT ============== */
.project_bg {
  background-image: url("/assets/img/hero-image-customers.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 50vh;
  display: flex;
}

.project_bg--opacity {
  background-color: var(--white-alpha-color);
  width: inherit;
  min-height: inherit;
}

.opacity {
  margin: 8rem 0;
  background-color: var(--white-alpha-color);
  padding: 2.5rem 1rem;
  min-height: 25vh;
  text-align: center;
}

.project_title,
.project_description {
  margin-bottom: var(--mb-0-75);
}

/* ============== CONTACTAME ============== */
.contact_container {
  row-gap: 3rem;
}

.contact_information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact_icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.contact_content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact_label {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.contact_input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--input-color);
  font-family: var(--body-font);
  color: var(--text-color);
  padding: 0.25rem 0.5rem 0.5rem 0;
  font-size: var(--normal-font-size);
}

/* ============== FOOTER ============== */
.footer {
  padding-top: 3rem;
}

.footer_bg {
  background-color: var(--first-color);
}

.footer_container {
  row-gap: 2.5rem;
  text-align: center;
  padding: var(--mb-1-5) 0;
}

.footer_content {
  color: var(--body-color);
}

.footer_links {
  width: 25%;
  margin: 0 auto;
  text-align: left;
  /* border: 1px solid red; */
}

.footer_socials {
  font-size: 1.45rem;
}

.footer_social,
.footer_link {
  color: var(--text-color);
  transition: 0.5s;
}

.footer_social:hover,
.footer_link:hover {
  color: var(--body-color);
}

.footer_socials-item {
  display: flex;
  justify-content: space-evenly;
}

.footer_copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--body-color);
}
